* {
    padding: 0;
    margin: 0;
    border: 0;
}

nav {
    background-color: #dadbf1;
    height: 300px;
    width: 100%;
}
div.black {
    background-color: #000000;
    height: 80px;
}
.container {
    height: 200px;
    width: 100%;
    text-align: center;
    justify-content: center;
    flex-direction: row;
    margin-top: 40px;
}
.help {
    font-size: 50px;
    color: #000000;
}
.search {
    position: relative;
    height: 50px;
    width: 500px;
    border-radius: 5px;
    font-size: 15px;
    color: grey;
    border: 1px solid black;
    
}
.black {
    justify-content: flex-end;
}
.submit {
    font-size: 15px;
    color: white;
    height: 35px;
    width: 150px;
    border-radius: 5px;
    background-color: #000000;
    border: 1px solid white;
    margin-left: 70%;
    
}
.sign {
    font-size: 15px;
    color: white;
    height: 35px;
    width: 100px;
    border-radius: 5px;
    background-color: #4C5FD5;
}
.ab {
    color: white;
    font-size: 15px;
    background-color: #000000;
    align-items: flex-end;
    height: 20px;
}
.center {
    color: white;
    font-size: 15px;
    background-color: #000000;
    align-items: flex-end;
    height: 20px;
}
.black > button {
    margin-top: 20px;
}
.qr {
    color: #dadbf1;
}

.boxes {
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
}
h1{
    font-size: larger;
}
.boxes > p {
    width: 90px;
    height: 350px;
}